<header class="header">
    <div class="header-content">
        <div class="logo">
            <a href="https://angular.io/">
                <img src="favicon.ico" alt="Angular Logo">
            </a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link">À propos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link">Contact</a>
                </li>
                
                <!-- Navigation pour utilisateurs non connectés -->
                <ng-container *ngIf="!isAuthenticated">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/register" class="nav-link">Inscription</a>
                    </li>
                </ng-container>
                
                <!-- Navigation pour utilisateurs connectés -->
                <ng-container *ngIf="isAuthenticated">
                    <li class="nav-item user-dropdown" 
                        (mouseenter)="showDropdown = true" 
                        (mouseleave)="showDropdown = false">
                        <div class="user-info">
                            <div class="user-avatar">
                                <div class="avatar-circle">
                                    {{ getUserInitials() }}
                                </div>
                            </div>
                            <div class="user-details">
                                <span class="user-name">{{ currentUser?.name }}</span>
                                <span class="user-email">{{ currentUser?.email }}</span>
                            </div>
                            <div class="dropdown-arrow">
                                <svg width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M7 10l5 5 5-5z"/>
                                </svg>
                            </div>
                        </div>
                        
                        <div class="dropdown-menu" [class.show]="showDropdown">
                            <a routerLink="/profile" class="dropdown-item">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="item-icon">
                                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                </svg>
                                Profil
                            </a>
                            <button (click)="logout()" class="dropdown-item logout-item">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="item-icon">
                                    <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.59L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
                                </svg>
                                Déconnexion
                            </button>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </nav>
        
        <!-- Bouton toggle dark mode -->
        <div class="theme-toggle-container">
            <app-theme-toggle></app-theme-toggle>
        </div>
    </div>
</header>
