<header class="header">
    <div class="header-content">
        <div class="logo">
            <a href="https://angular.io/">
                <img src="favicon.ico" alt="Angular Logo">
            </a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link">À propos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link">Connexion</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/register" class="nav-link">Inscription</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
